<p>
  <strong>Title:</strong>
  <%= @article.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @article.description %>
</p>

<%= link_to 'Edit ths article', edit_article_path(@article) %> |
<%= link_to 'Back to articles listing', articles_path %>
